<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="admp.config.Query" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="admp.config.Connection" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <admp.config.Query>
            <setting name="DboSelection" serializeAs="String">
                <value>SELECT TABLE_NAME FROM stroy.INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE='BASE TABLE'
</value>
            </setting>
            <setting name="UsersSelection" serializeAs="String">
                <value>SELECT * FROM [Users]</value>
            </setting>
            <setting name="UsersTypeSelection" serializeAs="String">
                <value>SELECT * FROM [Types]</value>
            </setting>
            <setting name="MessagesSelection" serializeAs="String">
                <value>SELECT * FROM [Messages]</value>
            </setting>
            <setting name="DocumentsSelection" serializeAs="String">
                <value>SELECT * FROM [Documents]</value>
            </setting>
            <setting name="UserInsert" serializeAs="String">
                <value>INSERT [USERS] (ID, NAME, SNAME, LOGIN, PASS, EMAIL) VALUES</value>
            </setting>
            <setting name="UserTypeInsert" serializeAs="String">
                <value>INSERT [TYPES] (ID, CONTENT, DESCRIPTION) VALUES</value>
            </setting>
            <setting name="DocumentInsert" serializeAs="String">
                <value>INSERT [DOCUMENTS] () VALUES</value>
            </setting>
        </admp.config.Query>
        <admp.config.Connection>
            <setting name="WindowsAuthentication" serializeAs="String">
                <value>SERVER=nidompc\sqlexpress;DATABASE=stroy;trusted_connection=true</value>
            </setting>
        </admp.config.Connection>
    </userSettings>
</configuration>