<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="admp.config.Query" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="admp.config.Connection" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <admp.config.Query>
            <setting name="DboSelection" serializeAs="String">
                <value>SELECT TABLE_NAME FROM stroy.INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE='BASE TABLE'
</value>
            </setting>
            <setting name="UsersObject" serializeAs="String">
                <value>users</value>
            </setting>
            <setting name="UserTypesObject" serializeAs="String">
                <value>types</value>
            </setting>
            <setting name="DocumentsObject" serializeAs="String">
                <value>documents</value>
            </setting>
            <setting name="MessagesObject" serializeAs="String">
                <value>messages</value>
            </setting>
            <setting name="MessagesTypesObject" serializeAs="String">
                <value>message_types</value>
            </setting>
        </admp.config.Query>
        <admp.config.Connection>
            <setting name="ConnectingString" serializeAs="String">
                <value>SERVER=nidompc\sqlexpress;DATABASE=stroy;trusted_connection=true</value>
            </setting>
        </admp.config.Connection>
    </userSettings>
</configuration>